<?php 
OpenTable()
?>
  <tr class=head><td><{$profarray.langname}></td><td><{$professor.image}></td></tr>
  
<{foreach item=professor from=$profarray.professors}>  
  <tr class=head>
  <td><a href='professors.php?op=peditform&pid=<{$professor.prof_id}>'><{$professor.lname}> <{$professor.fname}></a></td>
  <td>
  <{if $professor.image_url }>
    <img src='<{$xoops_url}>/modules/courseReview/image_show.php?image_url=<{$professor.image_url}>'>
  <{/if}>	
  <{$professor.image}>
  </td></tr>
<{/foreach}>  
<?php
CloseTable();
?>
